.vx-admin-permission-tree-node__name {
  display: grid;
  grid-template-columns: var(--vx-admin-permission-track-15r) var(
      --vx-admin-permission-track-175r
    ) minmax(0, 1fr);
  align-items: center;
  gap: var(--space-xs);
  padding-left: calc(var(--permission-depth, 0) * var(--space-md));
  justify-items: start;
  text-align: left;
}

.vx-admin-permission-tree-node__children {
  display: grid;
}

.vx-admin-permission-card__type {
  justify-self: start;
}
